* {
    margin: 0;
    padding: 0;
}


body {
    /* background-color: #01171b; */
}

svg path {
    fill: #00394f;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover {
    fill: #006284;
    transition: 0.6s;
    cursor:pointer;
}

/* #mostrar {
    display: none;
}

#passarmouse:hover + #mostrar {
    display: block;
} */


#map .mun{
    cursor:pointer
}

#map .mun .shape{
    cursor:pointer;
    stroke-width:0
}

#map .mun .label-icon-state{
    fill:#fff;
    font-family:Arial;
    font-size:11px;
    line-height:12px;
    font-weight:normal
}

#map .mun .label-state{
    display:none;
    font-family:Arial;
    font-size:14px;
    line-height:16px;
    font-weight:bold
}

#map .mun:hover .label-state,
#map .mun.hover .label-state{
    display:block
}

#mapa_brasil.hover #map .model-green .mun .shape{
    fill:#2d68b2
}

#mapa_brasil.hover #map .model-green .mun .icon-state{
    fill:#5a95ce
}
#map .model-green .mun .shape{
    fill:#ab0
}

#map .model-green .mun .icon-state{
    fill:#999
}
#map .model-green .mun .label-icon-state{
    fill:#fff
}
#map .model-green .mun .label-state{
    fill:#999
}
#map .model-green .mun:hover .shape,#map .model-green .mun.hover .shape{
    fill:#b8d21b !important
}
#map .model-green .mun:hover .icon-state,#map .model-green .mun.hover .icon-state{
    fill:#f70 !important
}

.section_apps{
    border:1px solid #CCC;overflow:hidden;
    padding-top:10px
}
.section_apps .col-1,.section_apps .col-2,.section_apps .col-3{
    float:left;
    height:125px
}
.section_apps .col-1{
    width:240px;
    margin-right:10px;
    display:table-cell;
    padding-left:20px
} 